spring:
  datasource:
    url: jdbc:h2:mem:gitrank;MODE=MySQL;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  data:
    redis:
      host: localhost
      port: 6379

cors:
  allowed-origins: http://localhost:3004

logging:
  level:
    kr.gitrank.api: DEBUG
    org.springframework.security: DEBUG

server:
  port: 8888