spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    baseline-on-migrate: true
  data:
    redis:
      url: ${REDIS_URL}

cors:
  allowed-origins: https://gitrank.jmo.kr

logging:
  level:
    kr.jmo.gitrank: INFO

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
